body {
    background-color: steelblue;
    color: white;
    font-family: 'Texturina', serif;
}
span {
    padding: 0.5em;
}
#mainContainer {
    margin: 0;
    padding: 0;
}
#header {
    background-color: indigo;
    color: white;
    text-align: center;
    font-size: 3em;
}
#secondContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    border: 2px solid white ;
}

aside {
    border: 2px solid green;
    float: left;
    width: 300px;
}
main {
    border: 2px solid red;
    flex-grow: inherit;
}
button {
    display: block;
}

#futureConditionsPane {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid blue;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.futureCard {
    display: inline;
    background-color: white;
    color: black;
}
